 [MESSAGES CONTROL]

 disable=
    missing-docstring,
    missing-module-docstring,
    no-else-return,
    missing-function-docstring,
    invalid-name,
    import-error,
    reportMissingImports,
    invalid-name,
    bad-whitespace,